<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mercacortex.decknetvisuals">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/decknet_logo"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SignupActivity" />
        <activity android:name=".activities.MainScreenActivity" />
        <activity android:name=".activities.DeckManagerActivity" />
        <activity android:name=".activities.AboutActivity"></activity>
    </application>

</manifest>